/**
* refactored from https://github.com/nhn/tui.editor/blob/e91b9500ed2631d0a8d371e95ebf10662b19aa83/apps/editor/src/css/contents.css
* and the icons are replaced
*/

.toastui-editor-contents {
  *:not(table) {
    line-height: 160%;
    box-sizing: content-box;
  }

  i,
  cite,
  em,
  var,
  address,
  dfn {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }

  p {
    margin: 10px 0;
    color: #222;
  }

  > h1:first-of-type,
  > div > div:first-of-type h1 {
    margin-top: 14px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    color: #222;
  }

  h1 {
    font-size: 24px;
    line-height: 28px;
    border-bottom: 3px double #999;
    margin: 52px 0 15px 0;
    padding-bottom: 7px;
  }

  h2 {
    font-size: 22px;
    line-height: 23px;
    border-bottom: 1px solid #dbdbdb;
    margin: 20px 0 13px 0;
    padding-bottom: 7px;
  }

  h3 {
    font-size: 20px;
    margin: 18px 0 2px;
  }

  h4 {
    font-size: 18px;
    margin: 10px 0 2px;
  }

  h3,
  h4 {
    line-height: 18px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 14px;
  }

  h5,
  h6 {
    line-height: 17px;
    margin: 9px 0 -4px;
  }

  del {
    color: #999;
  }

  blockquote {
    margin: 14px 0;
    border-left: 4px solid #e5e5e5;
    padding: 0 16px;
    color: #999;
  }

  blockquote p,
  blockquote ul,
  blockquote ol {
    color: #999;
  }

  blockquote > :first-child {
    margin-top: 0;
  }

  blockquote > :last-child {
    margin-bottom: 0;
  }

  pre,
  code {
    font-family: Consolas, Courier, 'Apple SD 산돌고딕 Neo', -apple-system,
      'Lucida Grande', 'Apple SD Gothic Neo', '맑은 고딕', 'Malgun Gothic',
      'Segoe UI', '돋움', dotum, sans-serif;
    border: 0;
    border-radius: 0;
  }

  pre {
    margin: 2px 0 8px;
    padding: 18px;
    background-color: #f4f7f8;
  }

  code {
    color: #c1798b;
    background-color: #f9f2f4;
    padding: 2px 3px;
    letter-spacing: -0.3px;
    border-radius: 2px;
  }

  pre code {
    padding: 0;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
  }

  img {
    margin: 4px 0 10px;
    box-sizing: border-box;
    vertical-align: top;
    max-width: 100%;
  }

  table {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 12px 0 14px;
    color: #222;
    width: auto;
    border-collapse: collapse;
    box-sizing: border-box;
  }

  table th,
  table td {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 14px 5px 12px;
    height: 32px;
  }

  table th {
    background-color: #555;
    font-weight: 300;
    color: #fff;
    padding-top: 6px;
  }

  th p {
    margin: 0;
    color: #fff;
  }

  td p {
    margin: 0;
    padding: 0 2px;
  }

  td.toastui-editor-cell-selected {
    background-color: #d8dfec;
  }

  th.toastui-editor-cell-selected {
    background-color: #908f8f;
  }

  ul,
  menu,
  ol,
  dir {
    display: block;
    list-style-type: none;
    padding-left: 24px;
    margin: 6px 0 10px;
    color: #222;
  }

  ol {
    list-style-type: none;
    counter-reset: li;
  }

  ol > li {
    counter-increment: li;
  }

  ul > li::before,
  ol > li::before {
    display: inline-block;
    position: absolute;
  }

  ul > li::before {
    content: '';
    margin-top: 6px;
    margin-left: -17px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ccc;
  }

  ol > li::before {
    content: '.' counter(li);
    margin-left: -28px;
    width: 24px;
    text-align: right;
    direction: rtl;
    color: #aaa;
  }

  ul ul,
  ul ol,
  ol ol,
  ol ul {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  ul li,
  ol li {
    position: relative;
  }

  ul p,
  ol p {
    margin: 0;
  }

  hr {
    border-top: 1px solid #eee;
    margin: 16px 0;
  }

  a {
    text-decoration: underline;
    color: #4b96e6;
  }

  a:hover {
    color: #1f70de;
  }

  .image-link {
    position: relative;
  }

  .image-link:hover::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    border-radius: 50%;
    border: 1px solid #c9ccd5;
    /* emoji: Link */
    background: #fff url('/public/emoji/1f517.svg') no-repeat;
    background-position: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    cursor: pointer;
  }

  .task-list-item {
    border: 0;
    list-style: none;
    padding-left: 24px;
    margin-left: -24px;
  }

  .task-list-item::before {
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: center;
    content: '';
    margin-left: 0;
    margin-top: 0;
    border-radius: 2px;
    height: 18px;
    width: 18px;
    position: absolute;
    left: 0;
    top: 1px;
    cursor: pointer;
    /* emoji: Black Square Button */
    background: transparent url('/public/emoji/1f532.svg');
  }

  .task-list-item.checked::before {
    /* emoji: Check Box with Check */
    background-image: url('/public/emoji/2611.svg');
  }

  .toastui-editor-ww-code-block {
    position: relative;
  }

  .toastui-editor-ww-code-block:after {
    content: attr(data-language);
    position: absolute;
    display: inline-block;
    top: 10px;
    right: 10px;
    height: 24px;
    padding: 3px 35px 0 10px;
    font-weight: bold;
    font-size: 13px;
    color: #333;
    /* emoji: Pen */
    background: #e5e9ea url('/public/emoji/1f58a.svg') no-repeat;
    background-position: right;
    border-radius: 2px;
    background-size: 30px 30px;
    cursor: pointer;
  }
}
.toastui-editor-ww-code-block-language {
  position: fixed;
  display: inline-block;
  width: 100px;
  height: 27px;
  right: 35px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #fff;
  z-index: 30;
}

.toastui-editor-ww-code-block-language input {
  box-sizing: border-box;
  margin: 0;
  padding: 0 10px;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

.toastui-editor-contents-placeholder::before {
  content: attr(data-placeholder);
  color: grey;
  line-height: 160%;
  position: absolute;
}
