.hsjz-desc-container
  .hsjz-slogan-container
    .hsjz-slogan
      自我肯定
    .hsjz-slogan
      同伴力量
    .hsjz-slogan
      性别意识
  .hsjz-intro-container
    %p 后花园如其名。它是一个庇护的空间
    %p 是一个自由的、散漫的、融洽的、任人舒展的空间
    %p 是后生和ta的朋友们
    %p 可以驻留、休息、再启动的数字田野
